# Python & Önbellek Dosyaları
__pycache__/
*.py[cod]
*$py.class

# Sanal Ortamlar (Virtual Environments)
.venv/
venv/
env/

# Çevresel Değişkenler
.env
.env.*
!.env.example

# Veritabanı Dosyaları (SQLite)
# *.db
*.sqlite
*.sqlite3
*.db-journal
*.db-wal

# Editör ve IDE Yapılandırmaları
.vscode/
.idea/
*.swp
*.swo

# İşletim Sistemi Kalıntıları
.DS_Store
Thumbs.db
